// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
.btn{
  color: #EB87D6
;
}


.cart-box{
  border:2px solid #ddd;
  border-radius:10px;
  height:160px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.item-name{
  font-size:22px;
  font-weight:600;
}

.quantity{
  font-size:22px;
  margin:0 10px;
  min-width:30px;
  text-align:center;
}

.controls{
  margin-top:10px;
}

.overskrift{
  font-family: Bobogie Groovy;
}